<% include ../partials/header.ejs %>



    <form method="post" action="/places">
        <div class="form-group">
            <label for="placeName">Name</label>
            <input type="text" class="form-control" id="placeName" placeholder="Name" name="name">
        </div>
        <div class="form-group">
            <label for="placePhoto">Link to photo</label>
            <input type="text" class="form-control" id="placePhoto" placeholder="Photo" name="photo">
        </div>
        <div class="form-group">
            <label for="placeInfo">Description</label>
            <input type="text" class="form-control" id="placeInfo" placeholder="More info"name="info">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <p><a href="/places">Go back</a></p>
        </div>
    </form>




<% include ../partials/footer.ejs %>