<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <h1 class="form-header">Edit your comment</h1>
            <form method="post" action="/places/<%=place_id%>/comments/<%=comment._id%>?_method=PUT">
                <div class="input-field col s6 offset-s3">
                    <label for="commentTextTextarea">Your comment</label>
                    <textarea id="commentTextTextarea" class="materialize-textarea" name="text"><%=comment.text%></textarea>
                </div>
                <div class="input-field col s6 offset-s3">
                    <button type="submit" class="waves-effect waves-light btn">Submit</button>
                    <p><a href="/places/<%=place_id%>">Go back</a></p>
                </div>
            </form>
    </div>
</div>

<% include ../partials/footer.ejs %>
