<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <h1 class="form-header">Add a new comment to</h1>
        <h3 class="form-header"><%=place.name%></h3>
            <form method="post" action="/places/<%=place._id%>/comments">
                <div class="input-field col s6 offset-s3">
                    <label for="commentText">Comment</label>
                    <textarea id="commentText" class="materialize-textarea" name="text"></textarea>
                </div>
                <div class="input-field col s6 offset-s3">
                    <button type="submit" class="waves-effect waves-light btn">Submit</button>
                    <p><a href="/places/<%=place._id%>" class="form-link">Go back</a></p>
                </div>
            </form>
    </div>
</div>

<% include ../partials/footer.ejs %>
