<!DOCTYPE html>
<html>
    <head>
        <title>uAirbnb</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

        <div id="landing-header">
            <h1>Welcome to uAirbnb!</h1>
            <a href="/places" class="waves-effect waves-light btn-large red lighten-1">View All Locations</a>
        </div>

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

    </body>
</html>
