<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Login</h1>
        <div style="margin: 25px auto;">
            <form method="post" action="/login">
                <div class="form-group">
                    <label for="existingUserUsername">Your username</label>
                    <input type="text" class="form-control" id="existingUserUsername" placeholder="username" name="username">
                </div>
                <div class="form-group">
                    <label for="existingUserPassword">Your password</label>
                    <input type="password" class="form-control" id="existingUserPassword" placeholder="password" name="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    <p><a href="/places">Go back</a></p>
                </div>
            </form>
        </div>
    </div>
</div>





<% include ./partials/footer.ejs %>