<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
        <h1 class="form-header">Login</h1>
            <form method="post" action="/login">
                <div class="input-field col s6 offset-s3">
                    <label for="existingUserUsername">Username</label>
                    <input type="text" class="validate" id="existingUserUsername" name="username">
                </div>
                <div class="input-field col s6 offset-s3">
                    <label for="existingUserPassword">Password</label>
                    <input type="password" class="validate" id="existingUserPassword" name="password">
                </div>
                 <div class="input-field col s6 offset-s3">
                    <button type="submit" class="waves-effect waves-light btn">Submit</button>
                    <p><a href="/places" class="form-link">Go back</a></p>
                </div>
            </form>
    </div>
</div>

<% include ./partials/footer.ejs %>
