<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
        <h1 class="form-header">Register</h1>
            <form method="post" action="/register">
                <div class="input-field col s6 offset-s3">
                    <label for="newUserUsername">Your username</label>
                    <input type="text" class="validate" id="newUserUsername" name="username">
                </div>
                <div class="input-field col s6 offset-s3">
                    <label for="newUserPassword">Your password</label>
                    <input type="password" class="validate" id="newUserPassword" name="password">
                </div>
                <div class="input-field col s6 offset-s3">
                    <button type="submit" class="waves-effect waves-light btn">Submit</button>
                    <p><a href="/places" class="form-link">Go back</a></p>
                </div>
            </form>
    </div>
</div>

<% include ./partials/footer.ejs %>
