body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(https://c2.staticflickr.com/4/3813/11653781284_0ee0a355c3_h.jpg)
}
.slideshow li:nth-child(2) {
  background-image: url(https://c1.staticflickr.com/1/259/19385688371_9333673a5b_o.png);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(https://c1.staticflickr.com/3/2846/13576779935_7e4620351b_h.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(https://c1.staticflickr.com/3/2948/32979196916_c1d7b4cb84_h.jpg);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(https://c1.staticflickr.com/3/2889/32983959283_16131459f6_h.jpg);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
