
#methodOverrideForm {
    display: inline;
}

#map {
    height: 400px;
    width: 100%;
}

#searchBox {
    width: auto;
}

.searchResult {
    text-align: center;
}

[role=alert] {
    width: 100%;
    margin-top: 10px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.form-header {
    text-align: center;
}

.form-link {
    color: #009688;
}
