.form-group {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.thumbnail {
    padding: 0;
}
.thumbnail img {
    width: 100%;
}

.caption-full {
    padding: 10px 15px;
}

.caption-full p:first-of-type {
    padding-top: 40px;
}

.caption p:first-of-type {
    text-align: left;
}

#methodOverrideForm {
    display: inline;
}